:root {
	/* color */
	--color-orange: rgba(255, 149, 0, 0.9);
	--color-white: rgba(255, 255, 255, 0.9);
	--color-black: rgba(0, 0, 0, 0.5);
	--color-red: rgb(233, 78, 0);
	--color-dark-orange: rgb(255, 136, 0);

	/* size */
	--size-large: 50px;
	--size-medium: 40px;
	--size-small: 24px;
	--size-micro: 16px;
	--size-border-radius: 50px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Orelega One", sans-serif;
	color: var(--color-dark-orange);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* common */

body {
	background: var(--color-orange);
}

i {
	cursor: pointer;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

/* game */

.game {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* game bg */

.game__bg {
	background: url(./img/background.png) center center / cover no-repeat;
	width: 90%;
	height: 0;
	border-radius: var(--size-border-radius);
	padding-bottom: min(calc(3240 / 5760 * 100%), 90vh);
	position: relative;
}

.game__header {
	position: absolute;
	text-align: center;
	font-size: var(--size-large);
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	color: var(--color-dark-orange);
	display: flex;
	visibility: hidden;
}

.show {
	visibility: visible;
}

.game__field {
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 45%;
}

.game__button,
.game__timer,
.game__score {
	border: 3px solid var(--color-dark-orange);
	color: var(--color-dark-orange);
	background: var(--color-white);
	border-radius: calc(var(--size-border-radius) / 4);
	margin: 10px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bug,
.carrot {
	cursor: pointer;
}

.bug {
	width: 60px;
	height: 60px;
}

.carrot {
	width: 80px;
	height: 80px;
}

.bug:hover,
.carrot:hover {
	transform: scale(1.1);
}

.game__button {
	width: 100px;
}

.game__button i {
	font-size: var(--size-medium);
	transition: all 0.5s;
}

.game__button:hover i {
	color: var(--color-red);
	transform: scale(1.1);
}

.game__timer {
	width: 200px;
}

.game__score {
	border-radius: var(--size-border-radius);
	width: 80px;
}

/* modal */

.modal__bg {
	width: 100vw;
	height: 100vh;
	background: var(--color-black);
	position: absolute;
	display: none;
}

.open {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__play,
.modal__restart,
.modal__refresh {
	width: 400px;
	border-radius: calc(var(--size-border-radius) / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.modal__play {
	height: 400px;
	padding: 20px;
	background: var(--color-orange);
}

.modal__play p,
.modal__play span {
	font-size: var(--size-small);
	font-family: "Gaegu";
	text-align: center;
	font-weight: 500;
}

.modal__play-intro {
	color: var(--color-white);
}

.modal__play i {
	color: var(--color-white);
	background: var(--color-dark-orange);
	border-radius: var(--size-border-radius);
	width: 33px;
	height: 33px;
	font-size: var(--size-micro);
	line-height: 33px;
}

.modal__start {
	cursor: pointer;
	transition: all 0.3s;
	background: var(--color-white);
	padding: 10px 20px;
	border-radius: var(--size-border-radius);
	border: 3px solid var(--color-dark-orange);
}

.modal__start:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.modal__start:hover span {
	color: var(--color-red);
}

.modal__start:hover i {
	background: var(--color-red);
}

.modal__restart,
.modal__refresh {
	background: var(--color-white);
	font-size: var(--size-large);
	height: 300px;
}

.modal__message-restart,
.modal__message-refresh {
	font-family: "Gaegu";
	font-size: var(--size-small);
	text-align: center;
	color: var(--color-dark-orange);
	font-weight: 500;
}

.modal__message-restart {
	font-size: calc(var(--size-small) * 1.3);
}
.restart__button {
	font-size: var(--size-large);
}

.modal__restart i:hover {
	color: var(--color-red);
	transition: all 0.3s;
	transform: scale(1.3);
}

.refresh__button {
	font-size: var(--size-large);
}

.modal__refresh i:hover {
	color: var(--color-red);
	transition: all 0.3s;
	transform: scale(1.3);
}

@media screen and (max-width: 600px) {
	:root {
		/* size */
		--size-large: 40px;
		--size-medium: 30px;
		--size-small: 17px;
		--size-micro: 14px;
		--size-border-radius: 50px;
	}

	.game__header {
		top: 20px;
		width: 250px;
		font-size: calc(var(--size-small) * 1.3);
	}
	.show {
		visibility: visible;
	}

	.game__button,
	.game__timer,
	.game__score {
		margin: 10px;
		height: 40px;
	}

	.game__button {
		width: 40px;
	}

	.game__button i {
		font-size: var(--size-small);
	}

	.game__timer {
		width: 100px;
	}

	.game__score {
		border-radius: var(--size-border-radius);
		width: 40px;
	}

	.bug {
		width: 40px;
		height: 40px;
	}

	.carrot {
		width: 50px;
		height: 50px;
	}

	.modal__restart,
	.modal__refresh {
		height: 200px;
	}

	.modal__play,
	.modal__restart,
	.modal__refresh {
		width: 300px;
	}

	.modal__play {
		height: 300px;
		padding: 20px;
		background: var(--color-orange);
	}

	.modal__start {
		padding: 5px 10px;
	}
}
